*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'helvetica neue';
  color: #fff;
}
html,
body{
  width: 100%;
  height: 100%;
}
body{
  background: #111;
}
.CCard{
  background-color: rgb(85, 50, 50);
  padding: 20px;
  margin: 14px;
  color:bisque;
  border-radius: 15px;
}
.nav{
  background: #78d463;
  color: white;
  padding: 15px;
  margin: 40px;
  border-radius: 7px;
  border: 4px solid green;
}